name: Test all TS Files
on: [push]
jobs:
  Run-Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: "Setup Deno environment"
        uses: denoland/setup-deno@v1
        with:
          deno-version: 1.12.2
      - name: "Echo deno version"
        run: |
          deno --version
      - name: "Runs Test"
        run: |
          deno test ${{ env.working-directory }}/**/*-test.ts
      - run: echo "This jobs's status is ${{ job.status }}."
      